.example-full-width {
  width: 100%;
}
.bar {
  margin: 0 auto;
  width: 400px;
  border-radius: 30px;
  border: 1px solid #dcdcdc;
  background-color: white;
}
.bar:hover {
  box-shadow: 1px 1px 8px 1px #dcdcdc;
}
.bar:focus-within {
  box-shadow: 1px 1px 8px 1px #dcdcdc;
  outline: none;
}
.text {
  position: relative;
  left: 7px;
  height: 45px;
  margin-top: 10px;
  border: none;
  width: 385px;
  font-size: 16px;
  outline: none;
}
.button {
  position: relative;
  left: 140px;
}

::ng-deep .mat-autocomplete-panel {
  max-height: 200px !important;
}
